/**
 * @name DiscordStories
 * @description Let you be able to post and see stories like how Instagram stories works
 * @version _Development
 * @invite nKbSGzW6
 * @authorId 465026906450821121
 * @author Pickaxe828#4395
 */

.storiesColumn {
    height: 100px;
    width: 336px;
    padding: 16px 8px 16px 16px;
}

.storiesContainer {
    height: 100%;
    width: 100%;
}

.addButton {
    border-radius: 100%;
}

.addButtonContainer {
    width: 48px;
    vertical-align: top;
    display: inline-block;
    padding-right: 8px;
}

.askPermButton {
    width: 268px;
    height: 48px;
    display: inline-block;

}

.storiesIconWrapper {
    height: 48px;
    width: 48px;
    vertical-align: top;
    display: inline-block;
    padding-right: 8px;
    position: relative
    
}

.storiesIconCircle {
    height: 48px;
    width: 48px;
    vertical-align: top;
    display: inline-block;
    border-radius: 100%;
    background: #43B581;
    position: absolute;
}

.storiesIcon {
    height: 44px;
    width: 44px;
    vertical-align: top;
    display: inline-block;
    border-radius: 100%;
    background: #FFFFFF;
    position: absolute;

}