/**
 * @name DiscordStories
 * @description Let you be able to post and see stories like how Instagram stories works
 * @version _Development
 * @invite nKbSGzW6
 * @authorId 465026906450821121
 * @author Pickaxe828#4395
 */

.storiesColumn {
    height: 100px;
    width: 336px;
    padding: 16px 8px 16px 16px;
}

.storiesContainer {
    height: 100%;
    width: 100%;
}

.addButton {
    border-radius: 100%;
}

.addButtonContainer {
    height: var(--storiesContainerSize);
    width: var(--storiesContainerSize);
    vertical-align: top;
    display: inline-block;
    padding-right: 8px;
}

.askPermButton {
    width: 268px;
    height: 48px;
    display: inline-block;

}

.storiesIconWrapper {
    height: 48px;
    width: 48px;
    margin-right: 8px;
    border-radius: 100%;
    vertical-align: top;
    display: inline-block;
    position: relative;
    background-color: #43B581;
    background-clip: content-box;
}

.storiesIconCircle {
    height: var(--storiesIconSize);
    width: var(--storiesIconSize);
    border-radius: 100%;
    border: var(--storiesIconBorder) var(--background-secondary) solid;
    margin: var(--storiesIconMargin);
    vertical-align: top;
    display: inline-block;
    background-color: #FFFFFF00;
    position: absolute;
    background-clip: content-box;
}

.storiesIcon {
    height: var(--storiesIconSize);
    width: var(--storiesIconSize);
    border-radius: 100%;
    background-color: #FFFFFF;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-clip: content-box;
}

.theme-dark, .theme-light {
    --storiesContainerSize: 52px;
    --storiesIconSize: 42px;
    --storiesIconBorder: 2px;
    --storiesIconMargin: 3px;
    --storiesIconPadding: calc(var(--storiesIconBorder) + var(--storiesIconMargin));
}